gunicorn==21.2.0
flask==3.0.2
sentence-transformers==2.2.2
langchain==0.0.324
langchain-core==0.1.52
langchain-pinecone==0.0.3
langchain-community==0.0.34
langchain-google-genai==0.0.8
pypdf==4.2.0
python-dotenv==1.0.1
pinecone-client[grpc]==3.2.2
huggingface-hub==0.23.0
